# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configurations and scripts you may want to
# share with others. The .vscode/settings.json file contains settings outside
# of the project-scope (e.g. lint rules).
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Executable python script
bin/cache/
artifacts/

# Android related
**/android/key.properties
**/android/app/src/main/res/raw/google_services.json
**/android/app/google-services.json
**/android/app/src/main/assets/google-services.json
**/android/*.jks
**/android/*.keystore
**/android/*.apk
**/android/*.aab

# iOS related
**/ios/Pods/
**/ios/.latest_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/
**/ios/Runner/Assets.xcassets/AppIcon.appiconset/
**/ios/Runner/Base.lproj/LaunchScreen.storyboard

# Environment variables
.env
.env.*
.vercel
.env*.local
